<h1>{{title}}</h1>
<ul>
    <li *ngFor="let item of users.results">{{item.gender}}</li>
</ul>
<ul>
<li *ngFor="let data of users.results">
      {{ data.email }}
    </li>
</ul>


<form #usersForm="ngForm" (ngSubmit)="getUsersFormData(usersForm.value)">
    <input type="text" name="name" placeholder="Enter name" [ngModel]>
    <br>
    <input type="text" name="email" placeholder="Enter email" [ngModel]>
    <br>
    <input type="text" name="password" placeholder="Enter password" [ngModel]>
    <br>
    <button>Add new Users</button>
</form>
<app-footer></app-footer>